/*!
 * Start Bootstrap - Heroic Features (https://startbootstrap.com/template-overviews/heroic-features)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-heroic-features/blob/master/LICENSE)
 */

 .center
 {   display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
 }
 .menu-home{
     width: 100%;
     height: 210px;
 
     margin-top: 1em;
     text-align: center;
 
     transition: all 0.25s ease;
 }
 .menu-home:hover{
     transform: scale(1.05);
 }
 .menu-home div{
     color: #fff;
     font-weight: 600;
     margin-top: 0.5em;
 }
 .menu-home img{
     height: 120px;
     width: auto;
     margin-top: 1.3em;
 
 }
 .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     color: white;
     text-align: center;
 }
 .profile-pic {
     width: 200px;
     height: 200px;
    
 }
 .img-thumbnail{
     height:200px!important;
 
 }
 
 @media (max-width: 1200px) {
     .content-ati, .list-content, .title-h5, .ati-titel small {
         display: none !important;
     }}
 
 .user-ati {
     padding: 5em 2em;
     text-align: center;
 }
 
 
 .user-ati-6 {
     padding: 5em 2em;
     text-align: center;
 }
 
 
 .user-atihide {
     padding: 2em 5em 4em;
     text-align: center;
 
 }
 
 
 .user-ati img:hover {
     -webkit-transform: scale(1.05);
     transform: scale(1.05);
 }
 .user-ati p, .user-atihide p {
     margin-top: 1em;
     font-weight: 600;
     color: #11538c;
 }
 .user-ati img, .user-atihide {
     -webkit-transition: all 0.25s ease;
     transition: all 0.25s ease;
 }
 
 
 
 .allviewuser {
     margin-top: 2em;
     position: relative;
     padding: 0 5em 0px 0em;
 }
 
 .close-view {
     font-size: 2em;
     position: absolute;
     right: 20px;
     top: -30px;
     color: #11538c;
     cursor: pointer;
 }
 
 .viewuser-1, .textviewuser-1, .viewuser-2, .textviewuser-2, .viewuser-3, .textviewuser-3, .viewuser-4, .textviewuser-4 {
     display: none;
 }
 .img-modal {
     width: 116% !important;
 }
 
 .scene {
     width: auto;
     height: 280px;
     perspective: 600px;
 }
 .card {
     width: 100%;
     height: 100%;
     position: relative;
     transition: transform 1s;
     transform-style: preserve-3d;
     border: none;
 }
 .card__face {
     position: absolute;
     height: 100%;
     width: 100%;
     backface-visibility: hidden;
 }
 .card__face--front {
     background: #ffffff;
     border: 2px solid #11538c;
     padding: 18px;
     border-radius: 10px;
 }
 
 .card__face--back {
     background: #ffffff;
     transform: rotateY( 180deg );
     padding: 2px 5px;
     border: 2px solid #11538c;
     border-radius: 10px;
 }
 .card.is-flipped {
     transform: rotateY(180deg);
 }
.contentflip{
    margin-top: 85px;
}
 .card1{
     width: 100%;
     height: 100%;
     position: relative;
     transition: transform 1s;
     transform-style: preserve-3d;
 }
 .card2{
     width: 100%;
     height: 100%;
     position: relative;
     transition: transform 1s;
     transform-style: preserve-3d;
 }
 .card3{
     width: 100%;
     height: 100%;
     position: relative;
     transition: transform 1s;
     transform-style: preserve-3d;
 }
 .card1.is-flipped{
      transform: rotateY(180deg);
  }
 .card2.is-flipped{
     transform: rotateY(180deg);
 }
 
 
 .card3.is-flipped{
     transform: rotateY(180deg);
 }
 .tab {
     display: none;
     margin-top: 30px;
 }
 
 .stepBtn{
     background-color: #4CAF50;
     color: #ffffff;
     border: none;
     font-family: Raleway;
     cursor: pointer;
     height: 33px;
     padding-top: 15px;
     margin-top: 38px;
 
 }
 
 .stepBtn:hover {
     opacity: 0.8;
 }
 
 
 .fade-in {
     opacity: 1;
     animation-name: fadeInOpacity;
     animation-iteration-count: 1;
     animation-timing-function: ease-in;
     animation-duration: 0.7s;
 }
 
 img.card-img-top{
    height: auto;
    width: 145px!important;
    margin: 0 auto;
 }

 @keyframes fadeInOpacity {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
